<h2>Chat with {{name}}</h2>
<p>
    <a routerLink="/friends">&lt; Back</a> |
    <a routerLink="/profile">Profile</a> |
    <a (click)="remove(name)" class="removefriend">Remove Friend</a>
</p>
<hr>
<fieldset class="chatbox" id="chatbox">
    <div #messagesDiv>
        <ul *ngFor="let el of list">
            <li >
                <p>{{el.from}} : {{el.msg}}
                <span class="ctime">{{el.time | date}}</span>
            </li>
        </ul>
    </div>
</fieldset>
<hr>
<form id="send">
    <input type="text" placeholder="New Message" name="msg" id="msg" autocomplete="off" class="wide" [(ngModel)]="input" required>
    <input type="submit" value="Send" class="widebutton button_coloured" (click)="send()">
</form>