.center {
    margin: auto;
    max-width: 900px;
    padding: 10px;
    text-align: center;
}
.button_coloured {
    background-color: #3072af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button_grey {
  background-color: #797979;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 2.5em;
}
fieldset{
  border-style:dotted;
  border-color: gray;
}
fieldset.login{
  
  margin-left: 10%;
  margin-right: 10%;
}
a.removefriend:link{
  color: red;
}
a{
  text-decoration: none;
}
a:link{
  color: darkcyan;
}
a:visited{
  color :darkslateblue;
}
a.removefriend:visited{
  color: darkred;
}
a.removefriend:hover{
  background-color: black;
  opacity: 0.5;
  color:red;
  font-weight: bold;
}
a:hover{
  background-color: black;
  opacity: 0.5;
  color:cyan;
}
a.isbutton:hover{
  background-color: white;
  opacity:0.8;
  
}
a > span{
  font-weight: bold;
}
div.userinput{
  margin:10px;
}
label.userinput{
  display: inline-block;
  width: 150px;
  text-align: right;
  white-space: nowrap;
}
div.userinput > input{
  padding: 5px;
}
fieldset.profile{
  width: 100%;
}
label.userprofile{
  display: inline-block;
  width: 50%;
  text-align: right;
  white-space: nowrap;
}
textarea.userprofile{
  width: 100%;
  height: 150px;
}
input[type="submit"]:hover{
  background-color: #3a8cd8;
}
input.wide{
  padding: 14px;
  margin: 4px;
  width: 70%;
}
button.wide{
  width: 20%;
  float: right;
}
input.widebutton{
  width: 20%;
  float: right;
}
hr{
  border-style:dashed ;
  
}