
<h2>Logged in as {{curUser}}</h2>
<h2>Friends</h2>
        <a routerLink="/logout">
            &ltLogout
        </a> | 
        <a routerLink="/settings">
            Settings
        </a>
            <hr>
            <fieldset class="chatbox">
                <ul>
                    <div *ngFor = "let fr of friend">
                        <div *ngIf = "fr.status == 'accepted'">
                        <li> 
                            <a (click)="chat(fr.username)"> 
                                {{fr.username}} 
                            </a>
                            <span class="urmsg">{{fr.unreadMessages}}</span>
                            
                        </li>

                        </div>
                    </div>

                </ul>
            </fieldset>
                <hr>

                <h2>New Requests</h2>
                <ol>
                    <div *ngFor = "let fr of friend">
                        <div *ngIf = "fr.status == 'requested'">
                        <li> 
                            <div>
                                Friend request from {{fr.username}}
                            </div>
                            <button (click)="accept(fr)" class="widebutton button_coloured"> Accept</button>
                            <button (click)="decline(fr)" class="widebutton button_coloured"> Decline</button>
                        </li>


                        </div>
                    </div>
                </ol>
                <hr>
                <form>
                <input id="username" type="text" name="username" placeholder="Add Friend to List" class="wide" autocomplete="off" list="names" 
                [(ngModel)]="addInput">
                <datalist id="names">

                    <div *ngFor="let us of user">
                        <option> {{us}}</option>

                    </div>

                </datalist>
                <input type="submit" class="widebutton button_coloured" value="Add" (click)="add()">
                </form>