<body>
    <h2>Profile of {{uname}}</h2>

    <div>
        <a routerLink="/chat">< Back to Chat</a> |
        <a href="friends.html" class="removefriend">Remove Friend</a>
    </div>

    <br>

    <div>
        <img id="pfpic" src="../../../assets/images/profile.png" width="500">
        <fieldset class="container">
        <label id="aboutme">
            {{description}}

            <dl>
                <dt>Coffee or Tea?</dt>
                <dd id="drink">{{drink}}</dd>
                <dt>Name</dt>
                <dd id="name">{{name}}</dd>

            </dl>
        </label>

